<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title slot="start">Héroes</ion-title>
    <ion-searchbar slot="secondary" placeholder="Buscar" (ionChange)="onSearchChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="background">

    <ion-row>
      <ion-col *ngFor="let heroe of heroes" size="12">
        <ion-card>
          <img src="{{getImagen(heroe.thumbnail)}}" />
          <ion-card-header>
            <ion-card-title color="light">{{heroe.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content color="light">
            <ion-text color="light">
              {{heroe.description}}
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-infinite-scroll threshold="150px" (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>