<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title slot="start">Cómics</ion-title>
    <ion-searchbar slot="secondary" placeholder="Buscar" (ionChange)="onSearchChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="background">
    <ion-row>
      <ion-col *ngFor="let comic of comics" size="12">
        <ion-card>
          <ion-card>
            <img src="{{getImagen(comic.thumbnail)}}" />
            <ion-card-header>
              <ion-card-title color="light">{{comic.title}}</ion-card-title>
            </ion-card-header>
            <br>
            <ion-card-content color="light">
              <ion-text color="light">
                {{comic.description}}
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>