ion-col {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

ion-card-header {
    padding: 0px;
    padding-inline: 0px;

}

ion-row {
    // display: flex;
    justify-content: center;
}

.background {
    background-color: #FDC868;
}

ion-card {
    background-color: #171717;
}

ion-searchbar {
    --border-radius: 50px;
}
