<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu de librerías</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Marvel</ion-item>
        <ion-item disabled>DC Comics</ion-item>
        <ion-item disabled>Disney</ion-item>
        <ion-item disabled>Los simpsion</ion-item>
        <ion-item disabled>Star wars</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>